<%= form_with(model: accomplishment_type, local: true) do |form| %>
  <%= render 'shared/errors', object: accomplishment_type %>
  <div class="form-row align-items-center">
    <div class="col">
      <%= form.label :name, class: 'sr-only' %>
      <%= form.text_field :name, class: 'form-control mb-2' %>
    </div>

    <div class="col">
      <%= form.submit class: 'btn btn-primary mb-2' %>
    </div>
  </div>
<% end %>
