<%= form_with(model: accomplishment, local: true) do |form| %>
  <%= render 'shared/errors', object: accomplishment %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class='row'>
    <div class='col-10'>
      <div class="field">
        <%= form.label :accomplishment_type_id %>
        <%= form.collection_select :accomplishment_type_id, current_user.accomplishment_types.by_name, :id, :name, {}, class: 'form-control' %>
      </div>
    </div>
    <div class='col-2'>
      <div class="field">
        <%= form.label :bookmarked %>
        <%= form.check_box :bookmarked, class: 'form-control' %>
      </div>
    </div>
  </div><!-- row -->

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: '10', class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :given_by %>
    <%= form.text_field :given_by, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Categories' %>
    <%= form.collection_check_boxes :category_ids, current_user.categories.by_name, :id, :name do |r| %>
      <div class='form-check'>
        <%= r.check_box class: 'form-check-input' %>
        <%= r.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="actions mt-5">
    <%= form.submit class: button_class %>
  </div>
<% end %>
