<div class="card mb-3 <%= accomplishment.post_type.name.downcase %>-card">
  <div class="card-header">
    <%= accomplishment.post_type_name %> <%= accomplishment.date %>
    <% if accomplishment.bookmarked? %>
      <i class="fas fa-bookmark float-right ml-2"></i>
    <% end %>
    <span class="float-right ml-2"><%= link_to 'edit', edit_accomplishment_path(accomplishment), class: button_class('btn btn-sm btn-light float-right ml-2') %></span>
  </div>
  <div class="card-body">
    <%= image_tag(accomplishment.image_url, class: 'image', title: accomplishment.date) if accomplishment.image_url.present? %>
    <% if accomplishment.given_by.present? %>
      <h5 class="card-title"><%= accomplishment.given_by %> said:</h5>
    <% end %>
    <%= markdown(accomplishment.description) %>
    <small class="text-muted">
      <%= display_categories(accomplishment) %>

      <%= link_to 'related info', accomplishment.url, target: '_blank', class: 'float-right ml-2' if accomplishment.url.present? %>
    </small>
  </div>
</div>
