<% content_for(:title, @accomplishment.date) %>

<p>
  <strong>Description:</strong>
  <%= @accomplishment.description %>
</p>

<p>
  <strong>Accomplishment type:</strong>
  <%= @accomplishment.accomplishment_type_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @accomplishment.url %>
</p>

<p>
  <strong>Bookmarked:</strong>
  <%= @accomplishment.bookmarked %>
</p>

<%= link_to 'Edit', edit_accomplishment_path(@accomplishment) %> |
<%= link_to 'Back', accomplishments_path %>
