<%= form_with(model: post, data: { controller: "post-form" }) do |form| %>
  <%= render 'shared/errors', object: post %>

  <div class='col'>
    <div class="mb-3">
      <%= form.label :date, class: 'form-label' %>
      <%= form.date_field :date, class: 'form-control' %>
    </div>
  </div>

  <div class='row align-items-center'>
    <div class='col-10'>
      <div class="mb-3">
        <%= form.label :post_type_id, class: 'form-label' %>
        <%= form.collection_select :post_type_id, current_user.post_types.by_name, :id, :name, {include_blank: "--Please Select--" , required: true}, class: 'form-control', data: { post_form_target: "postTypeSelect", action: "change->post-form#changePostType" } %>
      </div>
    </div>

    <div class='col-2'>
      <div class="mb-3">
        <div class="form-check">
          <%= form.label :bookmarked, class: 'form-check-label' %>
          <%= form.check_box :bookmarked, class: 'form-check-input' %>
        </div>
      </div>
    </div>
  </div><!-- row -->

  <div class="mb-3">
    <%= form.label "Content", class: 'form-label' %>
    <%= form.text_area :description, rows: '10', class: 'form-control', data: { post_form_target: "description" } %>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: 'form-label' %>
    <% if post.image.attached? %>
      <p>
        <%= image_tag(post.image.variant(resize_to_limit: [75, 75])) %><br>
        <%= post.image.filename %>
      </p>
      <div class='form-check'>
        <%= form.check_box :remove_attached_image, class: 'form-check-input' %>
        <%= form.label 'Check to remove attached image', class: 'form-check-label' %>
      </div>
    <% end %>
    <%= form.file_field :image, class: 'mt-2 file-field' %>
  </div>

  <div class="mb-3">
    <%= form.label :with_people, class: 'form-label' %>
    <%= form.text_field :with_people, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label 'Related Info URL', class: 'form-label' %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label 'Categories', class: 'form-label' %>
    <%= form.collection_check_boxes :category_ids, current_user.categories.by_name, :id, :name do |r| %>
      <div class='form-check'>
        <%= r.check_box class: 'form-check-input' %>
        <%= r.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="actions mt-5">
    <%= form.submit class: button_class %>
  </div>
<% end %>
