<li class="nav-item">
  <%= link_to '+ New Entry', new_accomplishment_path, class: 'nav-link' %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    By Type
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% current_user.accomplishment_types.each do |type| %>
      <%= link_to type.name, accomplishment_type_path(type), class: 'dropdown-item' %>
    <% end %>
    <div class='dropdown-divider'></div>
    <%= link_to 'Raise Prep', raise_prep_index_path, class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manage
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Accomplishment Types', accomplishment_types_path, class: 'dropdown-item' %>
    <%= link_to 'Categories', categories_path, class: 'dropdown-item' %>
</li>
