<%= form_with(model: category) do |form| %>
  <%= render 'shared/errors', object: category %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: button_class('primary mt-3') %>
  </div>
<% end %>
